.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--color-slate-300, rgba(213, 225, 239, 1));
}

#container{
    /* Content */
margin: 30vh auto;
width: 320px;
height: 499px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--spacing-300, 24);
padding: var(--spacing-200, 16px) var(--spacing-200, 16px) var(--spacing-500, 40px) var(--spacing-200, 16px);
border-radius: 20px;
/* card-shadow */
box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
background: var(--color-white, rgba(255, 255, 255, 1));
}

#qr-img {
    /* QR Image */
width: 288px;
height: 288px;
background: var(--color-slate-300, rgba(213, 225, 239, 1));
}

h2 {
/* Improve your front-e */
width: 256px;
height: 52px;
color: var(--color-slate-900, rgba(31, 49, 79, 1));

font-family: Outfit;
font-size: 1.375rem;
font-weight: 700;
line-height: 120%;
letter-spacing: 0px;
text-align: center;
}

p {
    /* Scan the QR code to */
width: 256px;
height: 63px;
color: var(--color-slate-500, rgba(104, 119, 141, 1));

font-family: Outfit;
font-size: 1rem;
font-weight: 400;
line-height: 140%;
letter-spacing: 0.2px;
text-align: center;
}